@media only all and (max-width: 320px) {
    #section1 .hire-more {
        padding: 8px;
    }
    #section2 .trip {
        padding: 0;
    }
    #section2 .hire-more {
        padding: 20px 15px;
    }
    #explore .item .title {
        font-size: 18px;
    }
}

@media only all and (max-width: 480px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .form-inline.my-2.my-lg-0 {
        display: none;
    }
    #section1 .introduce h1 {
        font-size: 25px !important;
    }
    #section1 .introduce p.sub-title {
        font-size: 12px;
    }
    #section1 .hire-more {
        padding: 10px 20px;
        margin-top: 0;
    }
    #favors .title h3 {
        font-size: 25px;
    }
    #favors .title-sale {
        height: 250px !important;
    }
    #hiking .title {
        width: 100%;
    }
    #explore .item .title {
        font-size: 25px;
    }
    #section5 .item {
        padding: 0 15px;
    }
    #section7 .newsletter_contact {
        width: 100%;
        padding: 0 30px;
    }
    #section6 .title {
        width: 100%;
    }
}

@media only all and (max-width: 768px) {
    #section7 .newsletter_contact input {
        width: 100%;
    }
    #section7 .newsletter_contact button {
        position: absolute;
        right: 0 !important;
        width: 35%;
    }
    #section1 .introduce h1 {
        font-size: 35px;
    }
    #favors .row {
        display: block;
    }
    #favors .row .col-md-6 {
        max-width: 100%;
    }
    #explore .item .title {
        font-size: 35px;
    }
    #section2 .trip .card:first-child {
        margin: 0;
    }
    #section2 .trip .card {
        margin-top: 226px;
        flex-basis: 100% !important;
    }
    #section2 .card-img-top {
        height: auto !important;
    }
    #footer ul.footer-title {
        max-width: 100%;
    }
    #footer ul.sub_footer li:first-child a {
        text-align: center;
    }
    #section7 .newsletter_contact h1 {
        font-size: 50px;
    }
    .nav-menu {
        position: absolute;
        width: 100%;
        background: #ccc;
        top: 96px;
        z-index: 99;
        left: 0;
        display: none;
    }
}

@media only all and (max-width: 1024px) {
    /* ipap pro*/
    #section1 .banner:before,
    #section1 .banner:after,
    #hiking .item::after,
    #hiking .item::before,
    #explore::after,
    #explore::before,
    #section7::after,
    #section7::before,
    #footer::before {
        content: none;
    }
    #section2 .title-heading h3 {
        font-size: 30px;
    }
    #section2 .title-heading p {
        font-size: 15px;
    }
    #section2 .title-heading {
        padding-top: 25px;
    }
    #section2 .trip .card {
        flex-basis: 30%;
    }
    #section2 {
        background: none
    }
    #favors .title-sale {
        width: 100%;
        text-align: center;
        padding: 15px 30px;
    }
    #favors .title h3,
    #favors .title p.body-text {
        max-width: 100%;
    }
    #favors .date_promte .title p.body-text,
    #favors .date_promte .title a.hire-more {
        margin-left: 0;
    }
    #hiking {
        margin-top: 0;
    }
    #explore {
        margin-top: 0;
    }
    #favors .title-sale {
        height: 400px;
    }
    #section6 {
        background: none;
    }
    #section7 .newsletter_contact button {
        right: 49px;
    }
    #footer ul.footer-title {
        padding: 0 15px;
    }
    .navbar-toggler-icon {
        display: block;
    }
}

@media only all and (max-width: 1324px) {}